:root {
    /* Colors */
    /* Primary */
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    /*(graphic design text)*/
    --Dark-blue: hsl(198, 62%, 26%);
    /*(photography text)*/
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    /*(footer)*/
    /* Neutral */
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    /* font size */
    --font-size: 18px;
    /* font family */
    --font-Barlow: "Barlow";
    --font-Fraunces: "Fraunces";
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 18px;
}

/* header */
.header {
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: column;
    color: var(--White);
    gap: 2rem;
    background-image: url("images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    vertical-align: middle;
    max-width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.logo img {
    width: 150px;
    cursor: pointer;
}

.menu-logo {
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 75px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.menu ul li {
    margin-right: 20px;
}

.navLink {
    color: white;
    transition: background-color 0.5s, color 0.5s;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 100px;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: var(--font-Barlow), sans-serif;
    font-weight: 600;
}

.navLink:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

.button {
    padding: 15px 30px;
    transition: background-color 0.5s, color 0.5s;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #23303e;
    background-color: white;
    border-radius: 100px;
    font-family: var(--font-Fraunces), serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.header h1 {
    font-size: 3rem;
    font-family: var(--font-Fraunces), serif;
    font-weight: 900;
    color: white;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.down-icon {
    font-size: 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
}


/* content section */
.content-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-right {
    text-align: left;
    place-self: center;
    padding: 50px 30px;
    max-height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-right h2 {
    font-size: 2.8rem;
    font-family: var(--font-Fraunces), serif;
    font-weight: 900;
    color: #23303e;
    line-height: 1.2;
    max-width: 460px;
}

.content-right p {
    max-width: 460px;
    color: #818498;
    font-size: 1.15rem;
    line-height: 1.5;
    font-family: var(--font-Barlow), sans-serif;
    font-weight: 600;
}

.show-more {
    text-decoration: none;
    display: inline-block;
    font-family: var(--font-Fraunces), serif;
    font-weight: 900;
    color: #23303e;
    position: relative;
    line-height: 1.6;
    text-transform: uppercase;
    width: max-content;
}

.show-more::after {
    content: "";
    position: absolute;
    left: -8px;
    bottom: 0;
    z-index: -1;
    display: block;
    width: calc(100% + 16px);
    border-radius: 100px;
    height: 10px;
    opacity: 0.2;
    transition: all 0.5s;
}

.show-more-yellow::after {
    background-color: var(--Yellow);
}

.show-more-red::after {
    background-color: var(--Soft-red);
}

.show-more:hover::after {
    opacity: 1;
}

.content-left img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.first {
    order: -1;
}

/* dual content section */
.dual-content-section {
    display: flex;
    flex-direction: row;
}

.dual-content-block {
    flex: 1;
    text-align: center;
    padding: 400px 30px 50px;
}

.dual-content-block h2 {
    font-family: var(--font-Fraunces), serif;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 20px;
}

.dual-content-block p {
    font-weight: 600;
    max-width: 350px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    font-family: var(--font-Barlow), sans-serif;
}

.content-design {
    color: var(--Dark-desaturated-cyan);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(images/desktop/image-graphic-design.jpg);
}

.content-photography {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(images/desktop/image-photography.jpg);
    color: var(--Dark-blue);
}

/* testimonials section */
.testimonials-section {
    background-color: #f5f5f5;
    padding: 9rem 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.testimonials-section h2 {
    font-size: 1.6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    font-family: var(--font-Fraunces), serif;
    font-weight: 900;
    text-align: center;
    color: var(--Dark-grayish-blue);
    letter-spacing: 4px;
}

.testimonials {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.testimonial h3 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    font-family: var(--font-Fraunces), serif;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);
}

.testimonial p {
    margin-bottom: 3rem;
    max-width: 350px;
    color: var(--Very-dark-grayish-blue);
    font-size: 1.1rem;
    line-height: 1.7;
    font-family: var(--font-Barlow), sans-serif;
}

.testimonial .second-p {
    font-size: 1rem;
    color: var(--Grayish-blue);
}

/* four blocks section */
.four-block-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.four-block img {
    max-width: 100%;
    height: 100%;
}

/* footer section */
.footer-section {
    display: flex;
    justify-content: space-between;
    background-color: #90d4c5;
    padding: 40px;
    color: white;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}

.footer-logo img {
    flex: 1;
    width: 150px;
}

.footer-nav {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-social {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-nav ul li {
    margin-bottom: 10px;
}

.footer-nav ul li a {
    font-family: var(--font-Barlow), sans-serif;
    color: var(--Dark-moderate-cyan);
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.5s;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons li a {
    color: var(--Dark-moderate-cyan);
    text-decoration: none;
    font-size: 1.3em;
    transition: all 0.5s;
}

.footer-nav ul li a:hover,
.social-icons li a:hover {
    color: #f5f5f5;
}

/* attributions */

.attribution {
    background-color: whitesmoke;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.attribution a {
    color: hsl(226, 5%, 53%);
}




@media (max-width: 850px) {
    .testimonials {
        flex-direction: column;
    }

    .dual-content-section {
        flex-direction: column;
    }

    .four-block-section {
        flex-wrap: wrap;
    }

    .four-block {
        max-width: 50%;
    }
}

@media (max-width: 740px) {
    .header {
        text-align: center;
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("images/mobile/image-header.jpg");
    }

    .menu-logo {
        display: block;
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 0;
        order: 1;
    }

    .menu ul {
        display: none;
        position: absolute;
        width: 85vw;
        top: 80px;
        padding: 20px 0;
        background-color: var(--White);
        box-shadow: 0px 2px 10px -5px rgba(71, 71, 71, 0.64);
    }

    .menu ul::after {
        position: absolute;
        content: "";
        top: -19px;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 20px 20px;
        border-color: transparent transparent var(--White) transparent;
    }

    .menu ul li {
        margin: 15px 0;
    }

    .navLink {
        color: #818498;
    }

    .navLink:hover {
        background-color: rgba(96, 165, 255, 0.3);
    }

    .button {
        color: black;
        background-color: rgb(255, 251, 1);
    }

    .button:hover {
        color: rgb(255, 251, 1);
        background-color: black;
    }

    .menu ul.visible {
        display: block;
    }

    .content-section {
        grid-template-columns: 1fr;
    }

    .first {
        order: 1;
    }

    .content-design {
        background-image: url(images/mobile/image-graphic-design.jpg);
    }

    .content-photography {
        background-image: url(images/mobile/image-photography.jpg);
    }

    .content-right {
        text-align: center;
    }

    .show-more {
        width: auto;
    }

    .show-more::after {
        left: 150px;
        width: calc(100% - 300px);
    }

    .content-right h2 {
        font-size: 2rem;
    }

    .testimonials-section {
        padding: 7rem 3rem;
    }

    .testimonials-section h2 {
        font-size: 1.4rem;
    }

    .footer-section {
        padding: 70px 40px;
    }

    .dual-content-block h2 {
        margin-bottom: 2rem;
    }

    .dual-content-block p {
        max-width: 370px;
        font-size: 1.1rem;
    }
}